# Library Utama & Visualisasi
streamlit
pandas
numpy
plotly

# Library Machine Learning & Helper
joblib
scikit-learn
xgboost
holidays

# Library LLM & LangChain
langchain
langchain-core
langchain-community
langchain-mistralai
SQLAlchemy
